# Environment variables
.env
.env.*
*.local

# Dependencies
node_modules/

# Logs
*.log

# Build / dist

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
